
@{
    ViewData["Title"] = "MenuEstudiante";
}

<div style="position:absolute; top:10%;left:20%">
    <h1>MENÚ ESTUDIANTE</h1>
    <br />
    <hr style="border-color:black" />
    <form>
        <div class="row">
            <div class="btn-group-vertical" style="width:400px; height:100px; margin-top:200px;" role="group" aria-label="Basic example">
                <button type="submit" class="btn btn-outline-dark" asp-controller="Estudiante" asp-action="Perfil"><b>PERFIL</b></button>
                <button type="submit" class="btn btn-outline-dark" asp-controller="Estudiante" asp-action="PagosMatriculas"><b>PAGOS MATRICULA</b></button>
                <button type="submit" class="btn btn-outline-dark" asp-area="" asp-controller="Login" asp-action="Login"><b>CERRAR SESION</b></button>
            </div>
            <div style="margin-top:85px; margin-left:100px">
                <img src="~/img/tdea.png" style="width:300px">
            </div>
        </div>
    </form>
</div>

