
@{
    ViewData["Title"] = "PagosMatriculas";
}


<div class="row">
    <h1 style="margin-top: 5%">Pagos</h1>
</div>

<ul class="navbar navbar-expand-sm bg-dark navbar-dard sticky-top">

    <li class="nav-item">
        <a class="nav-link" style="color:white" href="https://localhost:5001/Estudiante/Perfil?">Actualizar</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" style="color:white" href="PagosMatriculas">Pagos</a>
    </li>

</ul>
<hr style="border-color:black" />
    

<div class="row" style="margin-top: 50px">


    <table class="table table-responsive" style="margin-left: 300px; border-color:black;">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Valor pagado</th>
                <th scope="col">Fecha pago</th>
                <th scope="col">Comprobante de pago</th>
                <th scope="col">Ver</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td><input type="text" style="width:100px" /></td>
                <td>
                    <input type="date" id="start" name="trip-start"
                           value="2022-01-01"
                           min="2022-01-01" max="2023-12-31">
                </td>
                <td>
                    <input type="text" style="width:100px" />
                </td>
                <td>
                    <button type="submit" class="btn btn-danger"></button>
                </td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td><input type="text" style="width:100px" /></td>
                <td>
                    <input type="date" id="start" name="trip-start"
                           value="2022-01-01"
                           min="2022-01-01" max="2023-12-31">
                </td>
                <td>
                    <input type="text" style="width:100px" />
                </td>
                <td>
                    <button type="submit" class="btn btn-danger"></button>
                </td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td><input type="text" style="width:100px" /></td>
                <td>
                    <input type="date" id="start" name="trip-start"
                           value="2022-01-01"
                           min="2022-01-01" max="2023-12-31">
                </td>
                <td>
                    <input type="text" style="width:100px" />
                </td>
                <td>
                    <button type="submit" class="btn btn-danger"></button>
                </td>
            </tr>
    </table>
    <form class="row" style="margin-top:50px;margin-left:300px">
        <div>
            <button type="submit" class="btn btn-primary" style="margin-left: 150px;">Añadir</button>
            <button type="submit" class="btn btn-primary" style="margin-left: 100px;">Guardar</button>
        </div>
    </form>


    <form>
        <button type="submit" class="btn btn-success" asp-area="" asp-controller="Estudiante" asp-action="Perfil" style="margin-left: 320px; margin-top: 35px; margin-bottom: 30px;">Volver</button>
        <button type="submit" class="btn btn-danger" asp-area="" asp-controller="Login" asp-action="Login" style="margin-left: 300px; margin-top: 35px; margin-bottom: 30px;">Cerrar sesión</button>

    </form>

</div>
