@model SGPI.Models.Usuario
@{
    ViewData["Title"] = "CrearUsuario";
}

<div class="row">
    <h1 style="margin-top: 5%">Crear Usuario</h1>
</div>

<ul class="navbar navbar-expand-sm bg-dark navbar-dard sticky-top">

    <li class="nav-item">
        <a class="nav-link" style="color:white" href="https://localhost:5001/Administrador/CrearUsuario?">Crear usuario</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" style="color:white" href="BuscarUsuario">Buscar Usuario</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" style="color:white" href="informes">Reportes</a>
    </li>

</ul> 
<hr style="border-color:black" />
<div class="container">
    <div class="row">
        <form method="post">
            <div class="row">

                <div class="btn btn-outline-dark" style="border:solid 2px; margin-left: 100px"><b>Selecciona tu tipo de documento</b>
                    @Html.DropDownList("IdTipoDoc", new SelectList(ViewBag.tipodoc, "IdTipoDoc", "ValTipoDoc"), "Documento", new{@class="custom-select"})
                </div>

                <div class="form-group" style="margin-left:120px">
                    <label asp-for="Documento" class="control-label" style=""><b>N.Documento</b></label>
                    <input asp-for="Documento" type="number" class="form-control" style="border-color:black; border-width:2px; width:200px" id="ndocumento" placeholder="Ingresa tu documento">
                </div>

                <div class="form-group" style="margin-left:115px">
                    <label asp-for="Nombre" class="control-label" style=""><b>Nombre</b></label>
                    <input asp-for="Nombre" type="text" class="form-control" style="border-color:black; border-width:2px; width:200px" id="nombre" placeholder="Ingresa tu nombre">
                </div>
                <div class="form-group" style="margin-left:80px">
                    <label asp-for="Apellido" class="control-label" style=""><b>Apellido</b></label>
                    <input asp-for="Apellido" type="text" class="form-control" style="border-color:black; border-width:2px; width:200px" id="apellido" placeholder="Ingresa tu apellido">
                </div>

                <div class="form-group" style="margin-left:120px">
                    <label asp-for="Email" class="control-label" style=""><b>Correo</b></label>
                    <input asp-for="Email" type="email" class="form-control" style="border-color:black; border-width:2px; width:200px" id="email" placeholder="Ingresa tu correo">
                </div>
                <div class="btn btn-outline-dark" style="border:solid 2px; margin-left: 100px"><b>Selecciona tu genero</b>
                    @Html.DropDownList("IdGenero", new SelectList(ViewBag.genero, "IdGenero", "ValGenero"), "Genero", new {@class="custom-select"})
                </div>

                <div class="form-group" style="margin-left:80px">
                    <label asp-for="Direccion" class="control-label" style=""><b>Direccion</b></label>
                    <input asp-for="Direccion" type="text" class="form-control" style="border-color:black; border-width:2px; width:200px" id="direccion" placeholder="Ingresa tu direccion">
                </div>
                <div class="form-group" style="margin-left:115px">
                    <label asp-for="Telefono" class="control-label" style=""><b>Telefono</b></label>
                    <input asp-for="Telefono" type="text" class="form-control" style="border-color:black; border-width:2px; width:200px" id="telefono" placeholder="Ingresa tu telefono">
                </div>
                


            </div>

            <div>
                <br />
                <br />
                <div class="btn btn-outline-dark" style="border:solid 2px; margin-left: 85px"><b>Selecciona tu programa</b>
                    @Html.DropDownList("IdPrograma", new SelectList(ViewBag.programa, "IdPrograma", "ValPrograma"), "Programa", new {@class="custom-select"})
                </div>
                <div class="btn btn-outline-dark" style="border:solid 2px; margin-left: 80px"><b>Selecciona tu rol</b>
                    @Html.DropDownList("IdRol", new SelectList(ViewBag.rol, "IdRol", "ValRol"), "Rol", new {@class="custom-select"})
                </div>
                <div class="form-group" style="margin-left:115px">
                    <label asp-for="Contraseña" class="control-label" style=""><b>Contraseña</b></label>
                    <input asp-for="Contraseña" type="text" class="form-control" style="border-color:black; border-width:2px; width:200px" id="telefono" placeholder="Ingresa tu contraseña">
                </div>
                
            </div>

            <div style="margin-left:330px">
                <button type="submit" class="btn btn-primary" style="margin-left: 80px; margin-top: 35px; margin-bottom: 30px;">Enviar</button>
                <button type="submit" class="btn btn-danger" asp-area="" asp-controller="Login" asp-action="Login" style="margin-left: 80px; margin-top: 35px; margin-bottom: 30px;">Cerrar sesión </button>
            </div>
        </form>
    </div>
</div>

